html,body{ 
  padding: 0;
  margin: 0; 
  background-color: #f6f6f6 !important;
  /* background: url('/static/images/bg.jpeg') no-repeat center center; */
}

.comm-left{
  background-color: #FFF;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #eee;
}
.comm-box{
  background-color: #FFF;
  margin-left: .5rem;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #eee;


}
.comm-main{
  margin-top: .5rem;
}